* {
  padding: 0;
  margin: 0;
}
body{
  background-color: #27374D;
  font-family: montserrat;
  height: 100vh;
}

.root-layout header{
  background-color: #526D82;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20x auto;
  height: 70px;
}
.logo > a{
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  padding: 20px 20px;
  float: left; 
}
nav{
  float: right;
  margin: 5px 20px;
}
.link{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 20px 10px;
  font-weight: 900;
}

.active{
  background-color: #1b9bff;
  border: solid 1px #F4D3D3;
  transition: .5s;
}


/*About Me */
.about-me{
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card{
  font-family: "Candara" , sans-serif;
  width: 100vw;
  height: 2800px;
  margin: 3% 3%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.card-img{
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.profile-img img{
  z-index: 1;
  width: 320px;
  height: 320px;
  position: relative;
  border-radius: 50%;
  border: 10px solid white;
  margin-top: -75px;
  margin-bottom: 50px;
  
  transition-duration: 0.5s;
}
.profile-img img:hover{
  transform: scale(1.1);
}

.card-content{
  font-size: 25px;
  text-align: center;
  margin: 0;
}
.card-content p{
  font-size: 20px;
}
.card-content h3{
  font-weight: bold;
}

/* Skill Header */
.skill-header{
  padding: 1rem;
  position: relative;
}
.skill-header:after{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
}
.project-img{
  width: 100%;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.skill-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
  color: white;
}
.skill-box{
  padding: 3rem 1rem;
  cursor: pointer;
  word-wrap: break-word;
  border: 1px solid white;
  height: 230px;
}
.skill-title{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.skill-title p a{
  text-decoration: none;
  color: white;
}
.skill-title{
  font-size: 15px;
}
.skill-title p{
  
  overflow: hidden;
  text-overflow: ellipsis
}

/* Contact */
.contact-box{
  width: 80vh;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* .ant-form-item{
  padding: 8px;
} */
.ant-form-item-control{
  width: 400px;
}
.contact-form{
  margin: 35px;
}
.input-field{
  width: 300px;
  margin-bottom: 20px;
  height: 40px;
  /* padding: auto 100px; */
  padding-left: 10px;
  border: 1px solid #777;
  border-radius: 14px;
}
.submit-btn{
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px 50px;
  background-color: #47c35a;
  font-size: 20px;
  border: none;
}
.ant-btn{
  padding-top: 0px;
}

.intro-title{
  color:white;
  text-align: center;
  font-size: 30px;
  /* margin: 20px auto; */
  z-index: 2;
}


/*project */

.project-img img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
}

@media screen and (max-width:990px){
  .skill-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .project-img{
    width: 100px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  .skill-title p, .skill-title h3, .skill-description{
    font-size: 15px;
  }
  .card{
    font-family: "Candara" , sans-serif;
    width: 100vw;
    height: 5000px;
    margin: 3% 3%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
  }
  .skill-box{
    padding: 2rem 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 430px;
  }
  .skill-box2{
    padding: 2rem 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 230px !important;
  } 
}
@media screen and (max-width:1170px){
  .skill-box{
    padding: 2rem 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 300px;
  }
}
@media screen and (max-width:500px){
  .skill-box{
    padding: 2rem 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 450px;
  }
}