* {
  padding: 0;
  margin: 0;
}
body{
  background-color: #27374D;
  font-family: montserrat;
  height: 100vh;
  margin-top: 0;
}

.rectange{
  height: 100vh;
  color: red;
  
}

.root-layout header{
  background-color: #526D82;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20x auto;
  height: 70px;
}
.logo > a{
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  padding: 10px 10px;
  float: left; 
  
}
nav{
  float: right;
  margin: 15px 20px 0px;
}
.link{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 20px 10px;
  font-weight: 900;
  
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition-duration: 1s;
}

.active{
  background-color: #27374D;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: .5s;
}
.burger{
  display: none;
}

/*About Me */
.about-me{
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card{
  font-family: "Candara" , sans-serif;
  width: 100vw;
  height: 2800px;
  margin: 3% 3%;
  margin-top: 5px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img{
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  /* clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%); */
  /* background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.65) 100%), no-repeat center center scroll; */
}
.clip{
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%) !important;
}

.profile-img img{
  z-index: 1;
  width: 320px;
  height: 320px;
  position: relative;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: -75px;
  margin-bottom: 50px;
  transition-duration: 0.5s;
  /* clip-path: polygon(2% 17%, 19% 84%, 50% 67%, 72% 85%, 99% 17%); */
  box-shadow: 0 0 10px 0 black;
  
}
.profile-img img:hover{
  transform: scale(1.1);
}

.card-content{
  font-size: 25px;
  text-align: center;
  margin: 0;
}
.card-content p{
  font-size: 20px;
}
.card-content h3{
  font-weight: bold;
}

/* Skill Header */
.skill-header{
  padding: 1rem;
  position: relative;
}
.skill-header:after{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
}
.project-img{
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.skill-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
  color: white;
}
.skill-box{
  padding: 3rem 1rem;
  cursor: pointer;
  word-wrap: break-word;
  border: 1px solid white;
  height: 230px;
  transition-duration: 0.5s;
}
.skill-box:hover{
  background-color: #024375;
}
.skill-title{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.skill-title p a{
  text-decoration: none;
  color: white;
}
.skill-title{
  font-size: 15px;
}
.skill-title p{
  
  overflow: hidden;
  text-overflow: ellipsis
}

/* Contact */
.contact-box{
  width: 80vh;
  padding: 80px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* .ant-form-item{
  padding: 8px;
} */
.ant-form-item-control{
  width: 400px;
}
.contact-form{
  margin: 35px;
}
.input-field{
  width: 300px;
  margin-bottom: 20px;
  height: 40px;
  /* padding: auto 100px; */
  padding-left: 10px;
  border: 1px solid #777;
  border-radius: 14px;
}
.submit-btn{
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px 50px;
  background-color: #47c35a;
  font-size: 20px;
  border: none;
}
.ant-btn{
  padding-top: 0px;
}

.intro-title{
  color:white;
  text-align: center;
  width: 100vw;
  font-size: 30px;
  margin: 20px auto 0px;
  z-index: 2;
}
.resume{
  text-decoration: none;

  background-color: #2ecc71;
  border-radius: 25px;
  padding: 0px 20px;
  transition-duration: 0.7s;
}
.resume:hover{
  background-color: black;
  
  border: solid 1px white;
  color: white;
}
/*project */

.project-img img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: fill;
}

.footer{
  display: flex;
  justify-content: space-between;
}
.footer p{
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;
  transition-duration: 1s;
}
.footer p:hover{
  text-decoration: underline;
}

.container{
  font-family: "arial";
  font-size: 24px;
  place-items: center;
  /* width: 350px; */
  align-items: center;
  text-align: center;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#project{
  text-align: center;
}
#contact{
  text-align: center;
}

.project-title{
  text-align: left;
  font-size: 18px;
  color: green;
}
.project-tech{
  text-align: right;
  padding: 20px;
}
.project-tech a{
  color: black !important;
  border: 2px solid orange;
  padding: 10px;
  transition-duration: 0.7s;
}
.project-tech a:hover{
  border-radius: 25px;
  opacity: 0.5;
}
.project-box{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: black;
  padding: 0px;
  height: 300px;
}
.project-box:hover{
  transform: scale(1.05);
}

.project-box p{
  color: black;
}

.typed {
  font-size: larger;
  font-family: 'Pacifico', cursive;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(40, end) forwards, blinking 1s infinite;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #6943f0 0%,
    #8725f0 29%,
    #df507f 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline;
  font-size: 30px;
      text-align: center;
      align-items: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.landing-page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 430px;
  align-items: center;
}
.landing-page div{
  padding: 100px;
  /* border: 1px solid red; */
  line-height: 2.2rem;
  text-align: center;
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  0% {border-color: transparent}
  50% {border-color: black}
  100% {border-color: transparent}
}

.parallax {
  /* The image used */
  background-image: url('./asset/para.jpg');
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (max-width:990px){
  .landing-page{
    padding: 0px;
    margin: 0px;
  }
  .landing-page div{
    padding: 20px;
  }
  .skill-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .project-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .skill-title p, .skill-title h3, .skill-description{
    font-size: 15px;
  }
  .card{
    font-family: "Candara" , sans-serif;
    width: 100vw;
    height: 5000px;
    margin: 3% 3%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skill-box{
    padding: 2rem 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 450px;
  }
  .skill-box2{
    padding: 0.5rem 1rem !important;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 280px !important;
  }
  .project-tech{
    text-align: right;
    padding: 10px;
  }
  .project-tech a{
    color: black !important;
    border: 2px solid orange;
    padding: 5px;
    transition-duration: 0.7s;
  } 
}
@media screen and (max-width:1170px){
  .skill-box{
    padding: 2rem 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 320px !important;

  }
  .contact-box{
    top: 55%;
    padding: 20px;
  }
  .ant-form{
    padding: 100px 50px !important;
    top: 50px;
  }
  
}
@media screen and (max-width:850px){
  .skill-box{
    padding: 1rem 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 260px !important;
  }
  .card{
    height: 3500px !important;
  }
  .ant-form{
    top: 35% !important;
    width: 500px !important;
  }
  .ant-btn{
    width: 400px !important;
  }
  
}
@media screen and (max-width:600px){
  .landing-page{
    flex-direction: column;
  }
  .skill-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .show-burger{
    padding: 130px;
    background-color: #27374D;
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  .hide{
    display: none;
  }
  .card{
    height: 7000px;
  }
  .skill-box{
    padding: 2rem 1.2rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 280px !important; 
  }
  .typed{
    font-size: medium;   
  }
  .link{
    font-size: 10px !important;
  }
  header{
    height: 50px !important;
  }
  .ant-form{
    top: 65% !important;
    width: 400px !important;
    height: 600px;
  }
  .ant-form-item{
    width: 300px;
  }
  .ant-btn{
    width: 300px !important;
  }
  .card{
    height: 6100px !important;
  }
  .logo img{
    height: 30px !important;
  }
}

@media screen and (max-width:1170px){
  .skill-box{
    padding: 2rem 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 320px !important;
  }
  .contact-box{
    top: 55%;
    padding: 20px;
  }
  
}
@media screen and (max-width:850px){
  .skill-box{
    padding: 1rem 1rem;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 260px !important;
  }
  
}
@media screen and (max-width:400px){
  .landing-page{
    flex-direction: column;
  }
  .skill-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .show-burger{
    padding: 130px;
    background-color: #27374D;
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  .hide{
    display: none;
  }
  .card{
    height: 7000px;
  }
  .skill-box{
    padding: 2rem 1.2rem;
    width: 300px;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid white;
    height: 280px !important; 
  }
  .ant-form{
    width: 300px;
  }
  .ant-form-item{
    width: 200px;
  }
  .typed{
    font-size: 15px !important;   
  }
}